 <% if @user.errors %>
   <% @user.errors.each do |error, msg|  %>
   <%= msg %>
   <% end %>
 <% end %>

<h1>Sign Up</h1>
<%= form_for(@user) do |f| %>
  <%= f.text_field :username, placeholder: "Username" %><br>
  <%= f.password_field :password, placeholder: "Password" %><br>
  <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %><br>

  <%= f.submit "Sign Up" %>

<% end %>
