<h1> <%= @event.event_name %></h1>
<h2> Created by <%= @event.creator.username %> </h2>

<h2> <% @event.attendees do |attend| %> </h2>
        <%= attend.username %>
     <% end %>
<%= link_to "New Event", new_event_path %><br>
<%= link_to "Event List", events_path %>
