<h1>Sign Up</h1>

<%= form_for @user do |f|%>
  <%= f.label :username %><br>
  <%= f.text_field :username, placeholder: 'Username'  %><br>
  <%= f.label :email %><br>
  <%= f.text_field :email, placeholder: 'email' %><br>

  <%= f.submit "Sign Up" %>
<% end %>
