<h1><%= @article.title %></h1>


<%= @article.body %><br>

<%=time_ago_in_words(@article.created_at) %>
<%= render partial: 'comments/form' %>
<h3>Comments (<%= @article.comments.size  %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
