<!DOCTYPE html>
<html>
  <head>
    <title>Picshare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert  %></p>
    <% if current_user %>
      Logged in with <%= current_user.username %>!<br>
      <%= link_to "Log Out", :logout %>
    <% else %>
      <%= link_to "Log In", :login %> or
      <%= link_to "Sign Up", :signup %>
    <% end %>
    <%= yield %>
    <%= link_to 'Back to Home', root_path %>
  </body>
</html>
